/* Style du template single-photo */

.single-photo__main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px;
}

.single-photo__box {
  display: flex;
  align-items: flex-end;
}

.single-photo__infos {
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--black-color);
}

.single-photo__infos p {
  font-size: 14px;
  text-transform: uppercase;
}

.single-photo__media {
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  justify-content: flex-end;
}

.single-photo__media img {
  width: 563px;
  height: 844px;
  object-fit: cover;
}

.single-photo__title {
  font-size: 66px;
  font-weight: 400;
  font-family: "Space Mono", monospace;
  line-height: 58px;
  text-transform: uppercase;
  font-style: italic;
  max-width: 30%;
}

/* Styles pour les liens de navigation + CTA */

.single-photo__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-bottom: 1px solid var(--black-color);
}

.single-photo__nav {
  display: flex;
  flex-direction: column;
}

.single-photo__cta {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

.single-photo__cta a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--CTA-color);
  height: 50px;
  width: 272px;
}

.single-photo__nav img {
  width: 81px;
  height: 71px;
  object-fit: cover;
}

.nav-arrows {
  display: flex;
  justify-content: space-between;
}