/* ------------------------------------------------------ Général ------------------------------------------------------ */

* {
  font-family: "Space Mono", monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: rgba(255, 255, 255, 1);
  --CTA-color: rgba(216, 216, 216, 1);
  --black-color: rgba(0, 0, 0, 1);
  --red-color: rgba(224, 0, 0, 1);
}

a,
ul,
li {
  color: inherit; /* Hérite de la couleur du parent */
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Style de la section hero */

.home-hero {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  min-height: 400px;
}

.home-hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-hero__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-hero__content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__title {
  text-transform: uppercase;
  font-size: 96px;
  color: transparent;
  -webkit-text-stroke: 1px var(--main-color); /* Contour du texte */
  font-style: italic;
}

/* Style pour les filtres */

.photo-gallery {
  max-width: 1280px;
  margin: 0 auto;
}

.photo-gallery__filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 40px 40px 0 40px;
}

.custom-select {
  position: relative;
}

.custom-select__label {
  width: 260px;
  padding: 11px 18px;
  background: var(--main-color);
  border: 1.3px solid var(--CTA-color);
  border-radius: 8px;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

.custom-select__label:focus {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.custom-select__label:after {
  content: "";
  display: inline-block;
  border: solid var(--black-color);
  border-width: 0 2px 2px 0; /* Flèche */
  padding: 4px;
  transform: rotate(45deg);
  transition: 0.2s;
}

.custom-select.open .custom-select__label:after {
  transform: rotate(-135deg);
}

.custom-select__options {
  position: absolute;
  left: 0;
  right: 0;
  background: var(--main-color);
  border: 1.5px solid #bfc8d6;
  border-radius: 0 0 7px 7px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  z-index: 10;
  max-height: 220px;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}

.custom-select.open .custom-select__options {
  opacity: 1;
  pointer-events: auto;
}
.custom-select__options li {
  padding: 12px 16px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.2s, color 0.2s;
}
.custom-select__options li:hover {
  background: rgba(255, 214, 214, 1);
  color: var(--black-color);
}

.custom-select__options li.selected {
  background: var(--red-color);
  color: var(--main-color);
}
.custom-select__options li:not(:last-child) {
  border-bottom: 1px solid var(--CTA-color);
}
.custom-select__label.selected {
  font-weight: 500;
}

/* Style pour le CTA Charger plus */

.load-more-button {
  display: block;
  margin: 0 auto 40px auto;
  padding: 8px 15px;
  width: 270px;
  height: 50px;
}

.load-more-button:hover {
  background-color: var(--black-color);
  color: var(--main-color);
  transition: background-color 0.3s ease;
  cursor: pointer;
  border-radius: 2px;
  border: none;
}

/* Style pour les écrans plus petits */

@media (max-width: 1280px) {
  .hero__title {
    font-size: 56px;
  }
}

@media (max-width: 768px) {
  .home-hero {
    height: 30vh;
  }
  .hero__title {
    font-size: 28px;
  }
}

@media (max-width: 425px) {
  .hero__title {
    font-size: 22px;
  }
  .photo-gallery__filters {
    justify-content: center;
    padding: 20px 20px 0 20px;
  }
  .load-more-button {
    margin-bottom: 20px;
  }
  .photo-gallery__filters {
    flex-direction: column;
    gap: 1rem;
  }
  .custom-select {
    width: 100%;
  }
}
