/* ------------------------------------------------------ Général ------------------------------------------------------ */

* {
  font-family: "Space Mono", monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: rgba(255, 255, 255, 1);
  --CTA-color: rgba(216, 216, 216, 1);
  --black-color: rgba(0, 0, 0, 1);
  --red-color: rgba(224, 0, 0, 1);
}

a,
ul,
li {
  color: inherit; /* Hérite de la couleur du parent */
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Style de la section hero */

.home-hero {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  min-height: 400px;
}

.home-hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-hero__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-hero__content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__title {
  text-transform: uppercase;
  font-size: 96px;
  color: transparent;
  -webkit-text-stroke: 1px var(--main-color); /* Contour du texte */
  font-style: italic;
}

/* Style pour les filtres */ 

.photo-gallery {
  max-width: 1280px;
  margin: 0 auto;
}

.photo-gallery__filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 40px 40px 0 40px;
}

.photo-gallery__filters select {
  border: 1.3px solid var(--CTA-color);
  border-radius: 8px;
  padding: 11px 18px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  min-width: 260px;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;  
}

/* Bordure bleue au focus */
.photo-gallery__filters select:focus {
  outline: none;
  border-color: rgba(33, 90, 255, 1);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* Option par défaut */
.photo-gallery__filters option {
  padding: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.photo-gallery__filters option:hover {
  background-color: var(--red-color)!important;
  cursor: pointer!important;
}

/* Style pour le CTA Charger plus */

.load-more-button {
    display: block;
    margin: 0 auto 40px auto;
    padding: 8px 15px;
    width: 270px;
}

/* Style pour les écrans plus petits */

@media (max-width: 1280px) {
  .hero__title {
    font-size: 56px;
  }
}

@media (max-width: 768px) {
  .home-hero {
    height: 30vh;
  }
  .hero__title {
    font-size: 28px;
  }  
}

@media (max-width: 425px) {
  .hero__title {
    font-size: 22px;
  }
  .photo-gallery__filters {
    justify-content: center;
    padding: 20px 20px 0 20px;
  }
  .load-more-button {
    margin-bottom: 20px;
  }
}
